#about-page{
  min-height: 80vh;
  display: flex; 
  justify-content: center; 
}

.about-row{
  padding: 50px 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly; 
  transition: opacity 2s ease-in-out;
}

.about-row .img-container{
  width: 80%;
}

.col{
  width: 50%;
  padding: 0 40px;
  display: flex;
  flex-direction: column; 
}
.col:first-child{
  align-items: flex-end;
}

.about-row h2{
  font-size: 24px; 
  font-weight: 500;
  color: #353535
}

.about-row p{
  padding: 20px 0;
  line-height: 24px;
  color: #474747
}

.col .link-container {
  display: flex;
}

.link-container {
  margin-bottom: 10px;
  color: #838383;
}

.link-container a{
  transition: opacity .2s ease-in;
  display: flex;
  align-items: center;
}

.col a:hover{
  opacity: 0.5;
}

.link-container p{
  padding: 0 5px; 
  color: #838383;
}