.main-body{
  padding: 10px 58px 0;
  min-height: 810px;
}

.filter-list{
  padding-top: 20px;
  display: flex; 
  text-transform: uppercase;
}

.filter-list li{
  margin-right: 15px;
  color: #969696;
  font-size: 11px;
  letter-spacing: 5px;
  cursor: pointer;
}