.header {
  padding-top: 28px;
  /* padding: 28px 58px 0; */
  display: flex; 
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.header a {
  padding: 0 5%;
  display: flex;
  align-items: center;
}

.header h2, .header h4{
  font-size: 20px;
  display: inline; 
  transition: opacity .5s ease-out; 
}

.header h2:hover, .header h4:hover{
  opacity: 0.6;
}

.header h4{
  font-size: 16px;
  color: #646464
}

#logo {
  height: 50px;
  width: 50px;
  margin-right: 10px; 
}