.index-row {
  margin-bottom: 10px;
}

.index-row > a {
  display: flex; 
  align-items: center;
  flex-direction: column; 
}


.index-row.album-row {
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
}

.index-row h2 {
  font-size: 17px;
  max-width: 50%;
  padding-top: 20px;
}

.album-row h2 {
  opacity: 0.5;
  padding: 15px 0 10px;
  font-size: 14px;
}

.col-left .cornered-row {
  padding-right: 80px;
  padding-bottom: 60px;
}

.col-left .centered-row {
  padding-left: 35px;
  padding-right: 40px;
  padding-bottom: 50px;
}

.col-right .cornered-row {
  padding-left: 80px;
  padding-bottom: 60px;
}

.col-right .centered-row {
  padding-left: 40px;
  padding-right: 35px;
  padding-bottom: 50px;
}

.index-row .img-container {
  margin-bottom: 10px;
  height: auto;
  display: flex;
  justify-content: center;
}

.img-container.portrait {
  width: 70%;
}

.album-row .img-container.portrait{
  width: 60%;
}

.img-container.landscape {
  width: 100%;
}
