.photo-index{
  padding-top: 60px;
  width: 100%;
  display: flex;
}

.index-col{
  width: 50%;
  display: flex;
  flex-direction: column; 
}

/* album details page */
.album-body{
  display: flex; 
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.album-body h1{
  font-size: 58px;
  padding: 36px 0 20px;
}

.album-body p{
  padding: 40px 0;
  width: 40%;
  color: #4a4b50;
  opacity: 0.7;
  line-height: 20px;
}

.album-body ul:first-of-type{
  display: flex; 
  color: #a1a3ad;
  opacity: 0.5;
}

.album-body ul:first-of-type li{
  padding: 0 15px 0;
}